Refresh_Rate_s=60

Db_Path='Data/'
Model_Path='Data/mdl/'
Model_Temp_Path='Data/tmp/'
Model_Temp_Expiry_m=10

Host=http://localhost:8000
Front_Host=http://localhost:3000
Media_Host=http://localhost:8000
Spoolman_Host=https://spoolman.ho.me